@media (max-width: 780px) {
  main {
    width: auto;
    height: auto;
  }
  .current-label,
  .current-score {
    font-size: small;
  }

  .player {
    flex: 1;
  }
  .name {
    font-size: medium;
  }
  .score {
    font-size: 6rem;
  }

  .dice {
    width: 10%;
    height: auto;
  }
}
