
@media (max-width: 780px) {
  main {
    width: auto;
    height: auto;
  }
  .current {
    width: auto;
  }
  .current-label,
  .current-score {
    font-size: 8px;
  }

  .player {
    flex: 1;
  }
  .name {
    font-size: medium;
  }
  .score {
    font-size: 6rem;
  }

  .dice {
    width: 10%;
    height: auto;
    top: 30%;
  }
  .btn {
    padding: 0.1rem 1rem;
    font-size: 0.8rem;
  }
  .player--0,
  .player--1 {
    width: 20rem;
  }
}
